body{
    font-family: "Sedan", serif;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper >*{
    padding: 0px;
    margin: 0px;
    border-radius: 1px;
    flex: 0 100%;
}
.header{
    background: rgb(225, 175, 110, .3);
    height: auto;
}
.nav{
    background: rgba(170, 118, 34, 0.3);
    height: auto;
}
.footer{
    background: rgba(170, 118, 34, 0.3);
    height: auto;
}
.grid{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    margin: 3px;
    align-items: center;
    grid-gap: 25px;
}

.main{
    background-color: rgb(225, 175, 110, .3);
    height: 275px;
    padding: 40px;
    font-size: 19px;
    text-align: center;
}
.aside{
    background: rgb(225, 175, 110, .3);
    
}
/* tampilan rtesponsive */
@media all and (min-width: 800px){
    .main{
        flex: 2;
    }
    .aside{
        order: 2;
    }
    .main{
        order: 1;
    }
    .footer{
       order: 3;
}
}

@media all and (min-width: 600px){
    .header{
        flex: 1;
    }
    .aside{
        flex: 1;
    }
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}